site_name: "Genomics Platform Documentation"
site_description: "Tutorials and documentation for Genomics Platform (GenRiskPro, BabyGenePro, and OncoRiskPro)"
site_url: "https://xiyasong.github.io/Genomics_platform"

nav:
  - Home: index.md
  - Quick Start for GenRiskPro Platform (Cohort Analysis): GenRiskPro_Dashboard_tutorial.md
  - Quick Start for GenRiskPro Web-server (Single Sample): Quick_start_for_GenRiskPro.md
  - In-house Reference Panel: In-house_Reference_Panel.md

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - search.suggest
    - search.highlight
    - toc.integrate
  palette:
    # Light mode
    - scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - scheme: slate
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

plugins:
  - search

markdown_extensions:
  - toc:
      permalink: true
  - admonition  
  - codehilite:  
      guess_lang: false
  - pymdownx.superfences  
  - pymdownx.tabbed  
  - attr_list  

# 可选的额外配置
extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/xiyasong/Genomics_platform
